/* themestate */
.darkMode {
    background-color: #1c1818d1;
}

/* svg */
.lightMode svg,
.darkMode svg {
    cursor: pointer;
}

/* .headerGrid */
.headerGrid header svg {
    height: 30px;
    width: 30px;
}
.darkMode .headerGrid a,
.darkMode section h3,
.darkMode section h5,
.darkMode section label,
.darkMode .headerGrid header a h3 {
    color: white;
}

.darkMode .headerGrid header {
    background-color: #1c1818d1;
}

.darkMode .headerGrid a span {
    color: red;
}

.darkMode .banner button:first-child {
    background-color: #1c1818d1;
    color: white;
}

.darkMode .banner button:last-child {
    background-color: white;
    color: #1c1818d1;
}

.lightMode {
    background-color: white;
}

.lightMode .headerGrid a span {
    color: #009fff;
}

.lightMode .headerGrid header a h3,
.lightMode .headerGrid a,
.lightMode section h3,
.lightMode section label,
.lightMode section h5 {
    color: #1c1818d1;
}

.lightMode .headerGrid header {
    background-color: #f7f7f7;
}

.lightMode .banner button:first-child {
    background-color: white;
    color: #1c1818d1;
}

/* slider */

.slider {
    display: flex;
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-bottom: 60px;
}

.slider .sliderContent {
    margin: 0px 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.sliderContent p {
    font-size: 16px;
    width: 250px;
    line-height: 22px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.sliderContent h3 {
    font-size: 17px;
    width: 250px;
    margin: 10px auto;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
}

.slider .sliderImage {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkMode .slider p,
.darkMode .slider h3 {
    color: white;
}

.lightMode .slider p,
.lightMode .slider h3 {
    color: black;
}

/* sidebar */
.darkMode .sidebar svg {
    fill: white;
}

.lightMode .sidebar svg {
    fill: #1c1818d1;
}

/* services */
.lightMode .services,
.lightMode .portfolio {
    border-bottom: 1px solid #d6d6d6;
}
.learnMore {
    width: 160px;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

.services .learnMore button {
    border: 1px solid #009fff;
    border-radius: 25px;
    padding: 10px 20px;
    background-color: transparent;
}
.darkMode .services,
.darkMode .portfolio {
    border-bottom: 1px solid white;
}

.darkMode .services button {
    color: white;
}

.lightMode .services button {
    color: black;
}

/* porfolio */

/* contact */
.lightMode .contact form input,
.lightMode .contact form textarea {
    border: 1px solid #d6d6d6;
}

.darkMode .contact form input,
.darkMode .contact form textarea {
    border: 1px solid white;
}
