/* themestate */
.darkMode {
    background-color: #1c1818d1;
}

/* .headerGrid */
.headerGrid header svg {
    height: 30px;
    width: 30px;
}
.darkMode .headerGrid a,
.darkMode .headerGrid header a h3 {
    color: white;
}

.darkMode .headerGrid header {
    background-color: #1c1818d1;
}

.darkMode .headerGrid a span {
    color: red;
}

.darkMode .banner button:first-child {
    background-color: #1c1818d1;
    color: white;
}

.darkMode .banner button:last-child {
    background-color: white;
    color: #1c1818d1;
}

.lightMode {
    background-color: white;
}

.lightMode .headerGrid a span {
    color: #009fff;
}

.lightMode .headerGrid header a h3,
.lightMode .headerGrid a {
    color: #1c1818d1;
}

.lightMode .headerGrid header {
    background-color: white;
}

.lightMode .banner button:first-child {
    background-color: white;
    color: #1c1818d1;
}

/* slider */

.slider {
    display: flex;
    width: 600px;
    height: 200px;
    margin: auto;
}

/* sidebar */
.darkMode .sidebar svg {
    fill: white;
}

.lightMode .sidebar svg {
    fill: #1c1818d1;
}
