/* themestate */
.darkMode {
    background-color: #1c1818d1;
}

/* .headerGrid */
.headerGrid header svg {
    height: 30px;
    width: 30px;
}
.darkMode .headerGrid a,
.darkMode .headerGrid header a h3 {
    color: white;
}

.darkMode .headerGrid header {
    background-color: #1c1818d1;
}

.darkMode .headerGrid a span {
    color: red;
}

.darkMode .banner button:first-child {
    background-color: #1c1818d1;
    color: white;
}

.darkMode .banner button:last-child {
    background-color: white;
    color: #1c1818d1;
}

.lightMode {
    background-color: white;
}

.lightMode .headerGrid a span {
    color: #009fff;
}

.lightMode .headerGrid header a h3,
.lightMode .headerGrid a {
    color: #1c1818d1;
}

.lightMode .headerGrid header {
    background-color: white;
}

.lightMode .banner button:first-child {
    background-color: white;
    color: #1c1818d1;
}

/* slider */

.slider {
    display: flex;
    width: 1200px;
    height: 230px;
    margin: auto;
}

.slider .sliderContent {
    margin: 0px 50px;
    text-align: center;
}

.sliderContent p {
    font-size: 16px;
    width: 250px;
    line-height: 22px;
    margin: auto;
}

.sliderContent h3 {
    font-size: 18px;
    width: 250px;
    margin: 10px auto;
}

.slider .sliderImage {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkMode .slider p,
.darkMode .slider h3 {
    color: white;
}

.lightMode .slider p,
.lightMode .slider h3 {
    color: black;
}

/* sidebar */
.darkMode .sidebar svg {
    fill: white;
}

.lightMode .sidebar svg {
    fill: #1c1818d1;
}
